.md-table-pagination {
  height: 56px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  color: rgba(0, 0, 0, .54);
  font-size: 12px;

  .md-table-previous {
    margin-right: 2px;
    margin-left: 18px;
  }

  md-select {
    margin: -3px 32px 0 0;

    &:focus .md-select-value {
      border: none;
    }

    .md-select-value {
      padding: 0;
      border: none;

      :first-child {
        height: auto;
        text-align: right;
      }
    }

    .md-select-icon {
      margin: 0;
      transform: translate3D(0, 3px, 0);
      color: rgba(0, 0, 0, .54);
      text-align: center;
    }

    .md-text {
      color: rgba(0, 0, 0, .54);
    }
  }
}
